.chat-container{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 13.56vw;
    margin-top: 8vh;
    height: 92vh;
    width: 87%;
    background-color: #d9ecff;
    transition: all ease-in-out 0.6s;
}

.chat-box{
    position: relative;
    width: 24vw;
}

.chat-container .left{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ccc;
    background: #1f6e6e;
    transition: all ease-in-out 0.6s;
}

.chat-container .left .chat-box-header{
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.chat-box-header .head{
    text-transform: uppercase;
}

.chat-box-header .head button{
    background: #9cbdbd00;
    color: cornsilk;
    border: none;
    font-weight: 700;
    font-size: 15px;
    padding: 6px 14px;
    margin-top: 3vh;
    cursor: pointer;
}

.chat-box-header .collaborator{
    font-size: 25px;
    margin-top: 15px;
    margin-left: 10vw;
}

.collaborator:hover{
    cursor: pointer;
}

.chat-container .left  h1{
    color: white;
}


.chat-container .left .chat-box-body{
    overflow-y: auto;
    display: flex;
    height: 72vh;
    flex-direction: column;
    margin-right: 6px;
}

.chat-box-body::-webkit-scrollbar {
   display: none;
    scroll-behavior: smooth;
}


.chat-box-body .chat-box-message-my{
    font-weight: bolder;
    display: flex;
    background: beige;
    flex-direction: column;
    align-items: center;
    padding: 3px 13px;
    border-radius: 9px;
    margin-left: 4.5vw;
    margin-top: 7px;
    max-height: 170vh;
}

.chat-me{
    color: #981ea6;
    font-weight: 900;
    margin-left: -3vw;
    margin-top: -1vh;
    font-family: auto;
    font-size: 10px;
    height: 13px;
}


.ai-class{
    background-color: #190d1b !important;
    color: white !important;
}

.ai-class p{
    color: #24ffd9;
    font-family: arial;
    font-style: italic;
    font-size: 13px;
}

.ai-class code{
    color: #ceb4e0;
    font-family: arial;
    font-style: italic;
    font-size: 13px;
}

.ai-class li{
    color: white;
    font-family: arial;
    font-style: italic;
    font-size: 13px;
}

.send-message{
    color: #000000c9;
    font-family: arial;
    font-style: italic;
    font-size: 13px;
    min-width: 20vw;
    max-width: 55vw;
    margin-top: 12px;
    border-radius: 3px;
    padding-left: 1vw;
    margin-left: auto;
    border: 3px solid white;
}

.my-message{
    color: #000000c9;
    font-family: arial;
    font-style: italic;
    font-size: 13px;
    min-width: 15vw;
    max-width: 60vw;
    min-height: 9vh;
    max-height: 60vh;
}


.chat-box-body .chat-box-message-sender{
    font-weight: bolder;
    display: flex;
    background: #ffffff;
    flex-direction: column;
    align-items: center;
    min-width: 17vw;
    max-width: 22vw;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 9px;
    margin-left: 5px;
    margin-top: 8px;
    /* min-height: auto; */
    max-height: 170vh;
    /* overflow-x: auto; */
    word-wrap: break-word;
}

.chat-box-body .chat-box-message-sender p {
    max-height: 170vh;
    overflow-y: auto;
}

.chat-box-message-sender::-webkit-scrollbar{
    scroll-behavior: smooth;
    display: none;
}

.chat-box-message-my::-webkit-scrollbar{
    scroll-behavior: smooth;
    display: none;
}

.chat-box-footer{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
    margin-top: 4px;
}

.chat-box-footer input{
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.chat-box-footer button{
    background: #00ffff00;
    border: none;
    font-size: 26px;
    cursor: pointer;
}

.chat-container .right{
    flex: 4;
    display: flex;
    flex-direction: row;
}

.chat-container.chat-collapse{
    margin-left: 5px;
    width: 94%;
    transition: all ease-in-out 0.6s;
}

.chat-container .left.left-collapse{
    margin-left: 2px;
    transition: all ease-in-out 0.6s;
}
.collaborator-panel {
    transform: translateX(-100%); 
    opacity: 0;  
    pointer-events: none; 
    transition: transform 0.6s ease-in-out, opacity 2s ease-in-out; 
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 24vw;
    height: 92vh;
    background-color: #981ea6;
}

.collaborator-panel.show {
    transform: translateX(0); 
    opacity: 1; 
    pointer-events: auto; 
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out; 
}

.collab-body {
    display: none;
}

.collab-body.show {
    display: flex;
    flex-direction: column;
}

.collab-body.show .collablist{
    display: flex;
    flex-direction: column;
}

.collab-body.show .collaborator-list{
    display: flex;
    padding: 3px 18px;
    flex-direction: row;
    border-radius: 25px;
    margin: 12px 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.collab-body.show .collaborator-list:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.collab-body.show .collaborator-list .collab-img{
    padding: 2px 2px;
    width: 5vw;
    height: 5vh;
    font-size: 36px;
}

.collab-body.show .collaborator-list  h3{
    color: white;
    font-size: 20px;
    font-weight: 900;
    margin-left: 10px;
    margin-top: 5px;
}

.collab-body.show .button {
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #981ea6;
    color: white;
    font-size: 20px;
    font-weight: 900;
    height: 5vh;
    width: 23vw;
    border-bottom: 1px solid #ccc;
    margin-right: 22px;
    margin-top: 9px;
    font-size: 32px;
    cursor: pointer;
}

.right .colab-panel{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    align-items: center;
    top: 20%;
    width: 15vw;
    text-align: center;
    height: 46vh;
    overflow: auto;
    left: 40%;
    background: cadetblue;
    padding: 6px 16px;
    border-radius: 12px;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform ease-in-out 0.8s, opacity ease-in-out 0.8s;
    pointer-events: none;
}

.right .colab-panel.show{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    align-items: center;
    top: 20%;
    width: 15vw;
    text-align: center;
    height: 46vh;
    overflow: auto;
    left: 40%;
    background: cadetblue;
    padding: 6px 16px;
    border-radius: 12px;
    opacity: 1;
    transform: translateY(0%);
    transition: transform ease-in-out 0.8s, opacity ease-in-out 0.8s;
    pointer-events: all;
}

.right .user{
    display: flex;
    flex-direction: row;
    padding: 1px 5px;
    width: 14vw;
    justify-content: space-between;
    background: darkcyan;
    margin-top: 4px;
    border-radius: 16px;
}

.right .user.selected {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}


.right .user:hover{
    background-color: #981ea6;
}

.right .user .colab-logo{
    width: 2vw;
    height: 2vh;
    font-size: 30px;
}

.right .user .colab-name{
    text-align: center;
    margin-top: -4px;
    margin-right: 3vw;
    color: beige;
    font-family: sans-serif;
}

.add-colab-btn button{
    padding: 8px 33px;
    background-color: #190d1b;
    cursor: pointer;
    color: aliceblue;
    margin-top: 6px;
    border-radius: 9px;
    font-weight: 700;
}

.add-colab-btn button:hover{
    background-color: red;
}

.collab-body.show p{
    color: white;
    font-size: 20px;
    font-weight: 900;
    margin-left: 10px;
    margin-top: 5px;
}

.right .file-tree{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
    text-align: center;
    height: 90vh;
    background: cadetblue;
    padding: 6px 16px;
    border-radius: 1px;
}


.file-tree-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1px 5px;
    width: 14vw;
    background: darkcyan;
    margin-top: 4px;
    border-radius: 16px;
}

.file-tree-header:hover{
    background-color: #981ea6;
}

.file-tree-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 20%;
    width: 15vw;
    text-align: center;
    height: 80vh;
    overflow: auto;
    left: 40%;
    background: cadetblue;
    padding: 6px 16px;
    border-radius: 12px;
}

.file-tree-body ul{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 13vw;
    height: 78vh;
    padding: 0vh 0vw;
}

.file-tree-body button{

    text-decoration: none;
    font-size: 20px;
    font-family: auto;
    text-underline-offset: none;
    font-weight: 700;
    padding: 6px 65px;
    cursor: pointer;
    border-radius: 5px;
    margin: 2px 0px;
    justify-content: center;
    background: cornsilk;
    border: none;
}

.file-tree-body button:hover{
    background-color: #5f446238;
    color: white;
    cursor: pointer;
}

.file-tree-body::-webkit-scrollbar{
    display: none;
    scroll-behavior: smooth;
}

.file-tree-body button p{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.code-editor-body{
    display: flex;
    flex-direction: column;
    width: 51vw;
    height: 85vh;
}

.code-editor-body textarea{
    height: 80vh;
    width: 43vw;
    background-color: #293637;
    font-size: 15px;
    color: #1dfff9;
    overflow: auto;
    border-radius: 10px;
    padding-left: 2vw;
    font-family: "Gill Sans", sans-serif;
    font-size: 16px;
    font-style: italic;
}

textarea::-webkit-scrollbar{
    display: none;
    scroll-behavior: smooth;
}

.code-editor-top h3{
    margin-left: 2vw;
    font-size: 23px;
    color: aliceblue;
    background: #887699;
    width: 7vw;
    border-radius: 12px;
    height: 6vh;
    margin-top: 13px;
    padding: 2px 23px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}